@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background: linear-gradient(#54E38E, #41C7AF);
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.main{
	width: 100%;
	text-align: center;
	/*background-color: #54E38E;*/
	/*background: linear-gradient(#54E38E, #41C7AF);*/
}
h1{
	padding: 20px;
}
textarea{
	resize: none;
	width: 90%;
	height: 500px;
	padding: 20px;
	font-size: 20px;
	background: whitesmoke;
	border: 2px solid black;
	border-radius: 5px;
}
.stats{
	margin: 0px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.character{
	padding: 5px;
	border: 2px solid black;
	border-radius: 3px;
	background: #ABC7FF;
}
.word{
	padding: 5px 15px;
	border: 2px solid black;
	border-radius: 3px;
	background: #ABC7FF;
}
h3{
	color: black;
	outline: none;
}
p{
	color: red;
}

@media screen and (max-width: 425px){
	.stats{
		margin: 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	.character,{
		padding: 0px;
	}
	.word{
		padding: 5px 15px;
	}
	textarea{
		resize: none;
		width: 95%;
		max-height: 500px;
		padding: 20px;
		font-size: 20px;
		background: whitesmoke;
		border: 2px solid black;
		border-radius: 5px;
	}
}